# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# next.js
/.next/
/out/
# production
/build
# misc
.DS_Store
*.pem
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
# local env files
.env*.local
# vercel
.vercel
# typescript
*.tsbuildinfo
next-env.d.ts


# /themes
# /addons
/addons/sns-addon
/themes/maxima
/themes/ecommerce-elite-theme
/cards 
/components
/styles
/public/assets
# /pages
/pages/_app.tsx
/pages/index.tsx
/pages/about_us.tsx 
/pages/avantipdf.tsx 
/pages/contact_us.tsx 
/pages/dealer-ledger.tsx 
/pages/dealer-profile.tsx 
/pages/declaration_of_confirmity_bikes.tsx 
/pages/find_dealer.tsx 
/pages/findaDealer.tsx 
/pages/manuals_apparel_view.tsx 
/pages/manuals_backpacks_view.tsx 
/pages/manuals_bike_view.tsx 
/pages/manuals_bike.tsx 
/pages/manuals_gloves_view.tsx 
/pages/manuals_helmet_view.tsx 
/pages/manuals.tsx 
/pages/NewsLetter.tsx 
/pages/nocostemi_tc.tsx 
/pages/privacypolicy.tsx 
/pages/returnpolicy.tsx 
/pages/terms-condition.tsx 
/pages/testdetail.tsx 
/pages/warning.tsx 
/pages/warranty.tsx 

#files in theme
/_app.tsx
/index.tsx


